### Print statements

In [1]:
print('Hej klassen!')         # Detta är en kommentar, och ignoreras av Python när den läser av koden    
print('Jättekul att träffa er - mitt namn är Ali')

Hej klassen!
Jättekul att träffa er - mitt namn är Ali

### Funktioner

Generellt sätt har funktioner i Python följande utseende

$funktionsnamn(argument)$

print() som vi ser ovan är alltså en funktion. I vår första kallning är "Hej klassen!" dess argument.

print()-funktionen är en som helt enkelt skriver ut sitt argument. Detta kan vara användbart i väldigt många scenarion.

Vissa funktioner kan ta **fler** än ett argument, och vi kommer stöta på väldigt många sådana framöver.

### Variabler

Vi kan assigna variabler i Python. Genom att göra det lägger Python de på minner, och vi kan sedan kalla på dessa vid ett senare skede.

In [2]:
name = 'Ali'

print(name)

Ali

Välj smarta och logiska variabelnamn. Annars riskerar ni att det blir väldigt svårt för andra (och även er själva) att förstå vad olika variabler representerar - särskilt när kodbasen blir stor och komplex.

In [3]:
b = 'Olof'    # mycket dålgit variablenamn att assigna ett namn till

print(b)      # givetvis kommer denna print ändock att funka, men poängen är att variablnamnet är högst olämpligt

Olof

Vi kan, som vi sett, också lägga till s.k. kommentarer. Python ignorerar all text efter # på varje rad. Den texten är till för dig som läsare i syfte att bättre första vad som händer i koden.

In [4]:
teacher = 'Ali'      # lärare till världens snart coolaste klass
students = 'AI25'    # världens snart grymmaste klass

print(teacher)
print(students)

Ali
AI25

Nedan har vi ett exempel på hur avsaknaden av logiska variabelnamn och kommentarer gör det omöjligt för läsaren att förstå vad dessa variabler egentligen står för. Jämför med variabelnamnen + kommentarerna ovan. Vad tycker du själv?

In [5]:
uu = 'Ali'
uv = 'AI25'

Du kan kalla dina variabler för vadsomhelst i princip, men tänk på att det ska vara logiskt.
I princip inga begränsningar i vad du döper variablerna till, men de MÅSTE börja på en bokstav! Vi kan alltså döpa en variabel till något som ex. börjar på en siffra

Det kan vara på svenska, engelska, you name it. Språket spelar ingen roll

In [6]:
Red_fish = 'röding'    # detta funkar, notera att vi även har ett understreck inkluderat

svärje = 'sweden'      # numera går det även att använda å,ä & ö i varibelnamn

In [7]:
1989 = 'födelseår'     # detta kommer ej funka, börjar på en siffra

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3378134435.py, line 1)

In [ ]:
&test = 'kontroll...'   # funkade inte heller, började på ett specialtecken

Generellt i Python så är konsensus att man använder små bokstäver för variabelnamn, samt understreck vid sammansatta ord

In [8]:
mitt_namn = 'Ali'

namn1 = 'Johan'
namn2 = 'Sigurd'     # funkar att göra såhär också, men undvik om ni kan...

### Datatyper

Förutom texter kan vi även assigna siffror till variabler.

I Python kallas text datatypen för *strings* (förkortas str)

I Python kallas heltal för integers (förkortad int)

In [9]:
firstname = 'Ali'
lastname = 'Leylani'
age = 35

print(firstname)
print(lastname)
print(age)

# genom att använda type()-funktionen kan vi extrahera datatypen av argumentet
# därefter kan vi printa den, om vi vill

print(type(firstname))
print(type(lastname))
print(type(age))

Ali
Leylani
35
<class 'str'>
<class 'str'>
<class 'int'>

**Chaining functions**

Som ni såg i koden ovan kan man använda flera funktioner på varandra. Python kommer då först att exekvera den innersta funktionen, och sedan jobba sig utåt.

## f-strängar

En väldigt bra sätt att formatera text som man printar ut är via s.k. f-strängar. Då kan man dynamisk lägga in variabler i sin text, oavsett vad variablerna har för värde.

In [10]:
print(f'Jag heter {firstname} {lastname} och jag önskar att jag vore tio år yngre men jag är {age} år gammal')

Jag heter Ali Leylani och jag önskar att jag vore tio år yngre men jag är 35 år gammal

**Var försiktig med datatyper**

Det är stor skillnad på text och heltal, var därför noga när du assignar dessa variabler

In [11]:
an_age = 10
also_an_age = '10'

print(type(an_age))
print(type(also_an_age))

<class 'int'>
<class 'str'>

## Beräkningar

In [22]:
10+10

20

In [15]:
38*2

76

In [16]:
500-499

1

In [17]:
150/5

30.0

In [18]:
2**8

256

Bra, kolla nu när det kan bli knas om man har fel dataklass

In [ ]:
a_number = 2
another_number = 3

string_number = '2'
another_string_number = '3'

In [ ]:
print(a_number+another_number)
print(a_number-another_number)
print(a_number*another_number)

In [ ]:
# för texter så går det faktiskt att operera med +, det tolkas som en enkel konkatinering (ihopsättning)

stringer_number+another_string_number

In [ ]:
print(students)
print(a_number*students)
print(10*students)   # det går att multiplicera heltal med strängar!

## Re-assigning variables

En redan assignad variabel kan närsomhelst bli re-assignad, till något annat värde. Python kommer från och med när re-assignment sker, att använda det nya värdet varje gång vi kallar på variabeln.

In [ ]:
min_kompis = 'Jonathan'            # här assignar vi variablen min_kompis för första gången

print(min_kompis)

min_kompis = 'Idun'               # här re-assignas min_kompis, och får ett nytt värde!

print(min_kompis)

In [ ]:
min_kompis = 'Idun'               # här re-assignas min_kompis, och får ett nytt värde!

print(min_kompis)

In [ ]:
min_kompis = 'Jonathan'          

print(min_kompis)

min_kompis = 'Idun'              

print(min_kompis)

**Exempel på beräknings use-case**

Rätt trivialt, men.. ja.

In [24]:
g = 9.82
m = 66

F = m*g

print(f'Gravitationskraften som verkar på dig som väger {m} kg är {F} Newton.')

Gravitationskraften som verkar på dig som väger 66 kg är 648.12 Newton.

In [26]:
# obs Python gör skillnad på versaler

M = 1000   
m = 999

print(M) 
print(m)

1000
999

## Input()

Vi kan be användaren om en input genom att nyttja input()-funktionen. Argumentet till denna funktionen är texten som användaren kommer se när den ombeds skriva in ett svar.

In [28]:
user_name = input('Hej, vad heter du?')

print(f"Hej {user_name}!")

Hej Aladdin!

**Viktig detalj** när det gäller input()

Datatypen av, av användaren angivna värdet till input(), kommer alltid att tolkas som en sträng!

In [29]:
my_input = input('Ange ett tal: ')

print(my_input)
print(type(my_input))

80
<class 'str'>

Att datatypen från input()-funktionen är string är i sig inget problem, men vi kommer få problem om vi försöker utföra beräkningar med det.

För att kringå detta kan vi direkt omvandla vår input till ett heltal, genom att använda int()-funktionenm

In [ ]:
my_new_input = input('Ange ett tal: ')

recast_input = int(my_new_input)

a_number = 10

produkt = a_number * recast_input

print(f'Produkten är {produkt}')

In [35]:
my_new_input = int(input('Ange ett tal: '))

a_number = 10

produkt = a_number * my_new_input

print(f'Produkten är {produkt}')

Produkten är 70

In [36]:
int('25')

25

In [37]:
int('25.3')

ValueError: invalid literal for int() with base 10: '25.3'

In [39]:
decimaltal = 28.3

print(type(decimaltal))

<class 'float'>

In [40]:
float('25.3')

25.3

In [47]:
int(25.4)    # när man omvandlar decimaltal till integer så avrundas det!

25

## Importera paket

Python har en hel del inbyggd funktionalitet, men ofta så behöver man också importera funktionalitet från någon annanstans.

I detta fall vill vi göra beräkningar med $\pi$, men Python har inte värdet på $\pi$ inbyggd.

Vi importerar därför paketet **math** som däremot har det.

**Circle geometry**

$ A_{circle} = \pi r^2 $

$ O_{circle} = 2\pi r$

In [50]:
import math              # att importera paket är busenkelt, och görs via import-kommandot

radius = 4

omkrets = 2*math.pi*radius

print(f'Omkretsen av en cirkel med radius {radius} är {omkrets}.')

Omkretsen av en cirkel med radius 4 är 25.132741228718345.

In [60]:
# vill man inte ha så många decimaler kan vi avrunda med hjälp av round()-funktionen
# vi angers två argument till round-funktionen.

# 1. talet vi vill avrunda
# 2. antalet decimaler vi vill ha kvar

avrundat = round(omkrets, 4)


print(omkrets)
print(avrundat)

25.132741228718345
25.1327

Observera att värdet på omkrets **inte** har ändrats! Vi har inte gjort någon re-assignment! Vi har bara lekt med värdet hitillsm