**Iterabler**

In [ ]:
namn = 'Ali Leylani'

print(namn)
print(type(namn))

In [ ]:
# bland annat stränger är något som kallas för iterabler
# iterabler har egenskapen av att det går att iterera genom varje element i den
# i fallet för strängar så kan vi iterera genom varje bokstav i hela strängen

print(namn)
print(namn[0])            # Viktigt! I Python börjar man räkna from 0, inte 1
print(namn[1])
print(namn[2])
print(namn[3])
print(namn[4])
print(namn[5])
print(namn[6])
print(namn[7])
print(namn[8])
print(namn[9])
print(namn[10])

Vad händer om man skriver ett index som är utanför strängens längd?

Jo, ett IndexError som indikerar att det indexet inte existerar.

In [ ]:
print(namn[11])

Det går mycket bra att även använda negativa index. Python kommer då att ge dig karaktärer räknat *baklänges* istället!

In [ ]:
print(namn[0])
print(namn[-1])
print(namn[-2])

**len()-funktionen**

Denna ger oss längden/antalet av något. I strängfallet kommer den ge oss antaleet karaktärer i strängen.

In [ ]:
name = "John Doe"

print(len(name))

In [ ]:
name = 'Sara Eriksson'

i = 0

while i < len(name):

    print(name[i], end='')    # ni kan kontrollera avslutet av er print med hjälp av end-argumentet
    i+=1

___

## Listor

En lista är ett objekt som kan innehålla andra objekt, till exempel strängar. Vi kommer prata mer om listor nästa lektion.

In [ ]:
# Här skapar vi en lista med några i lärarteamet:

lärarlista = ['Ali', 'Angelika', 'Hampus']

print(lärarlista)
print(type(lärarlista))

Även listor är iterabler, det går alltså mycket bra att iterera över de - precis som för strängar.

In [ ]:
print(lärarlista[0])
print(lärarlista[-1])

In [ ]:
print('Viktigt med detaljer...')
print('Låt oss kontrollera typer nedan')

print(f'lärarlista: {type(lärarlista)}')
print(f'lärarlista[0]: {type(lärarlista[0])}')

Vi kan också dubbelindexera

In [ ]:
print(lärarlista[1])     # detta kommer att ge oss det första elementet i vår lista
print(lärarlista[1][0])
print(lärarlista[1][1])
print(lärarlista[1][2])

## For-loopar

En For-loop är också en typ av loop, likt while, men är mer lämplig i vissa fall när man vill iterera genom ett bestämt antal objekt.

Anta att vi vill printa ut varje element i en lista.

In [ ]:
veckodagar = ['Måndag', 'Tisdag', 'Onsdag', 'Tordag', 'Fredag', 'Lördag', 'Söndag']

print(veckodagar)
print(len(veckodagar))

In [ ]:
for dag in veckodagar:

    print(dag)

In [ ]:
print(dag)

In [ ]:
for a in veckodagar:    # obs, mycket dåligt val av variabelnamn
    
    print(a)

Det går jättebra att for-loopa även över strängar

In [ ]:
for bokstav in 'Python':

    print(bokstav)

Vi kan dock **INTE** loopa över tal på samma sätt

In [ ]:
number = 110

for digit in number:

    print(digit)

In [ ]:
number[0]          # siffror/tal är INTE iterabler

In [ ]:
kombinerad = 'december1989'

for i in kombinerad:

    print(i)

In [ ]:
kombinerad_lista = ['december', 1989]

for i in kombinerad_lista:
    
    print(i)

**range()-funktionen**

Ofta vill vi jobba med alla siffror mellan två tal, och då är range() mycket bra att använda.

Anta att vi vill printa ut alla tal från 0 till 10

In [ ]:
our_numbers = range(0, 10)

print(our_numbers)

Det där blev vi inte så mycket klokare av, men om vi kombinerar range med en for-loop...

In [ ]:
for number in our_numbers:

    print(number)

Aha! Nu fattade Python, och för varje loop så assignade den variabeln number till siffrorna som range(0,10) skapade.

**Viktigt** är att range(start, stop) inte inkluderar stop, utan stannar vid stop-1. Se loopen ovan.

Vill man även inkludera stop måste man således skriva range(start, stop+1).

In [ ]:
start = 0
stop = 10

for number in range(start, stop+1):
    print(number, end=' ')

Vi kan lägga till ytterligare ett argument till range, som bestämmer 'i steg om' mellan varje tal.

Syntaxen är range(start, stop, step)

In [ ]:
numbers = range(0, 100, 5)

for number in numbers:
    print(number)

In [ ]:
# det går bra att även gå baklänges

numbers = range(100, 0, -10)

for number in numbers:
    print(number)

---

**For-break**

In [ ]:
print(veckodagar)

In [ ]:
for veckodag in veckodagar:

    print(veckodag)

    if veckodag == 'Fredag':
        break

---

**Nested for-loops**

Vi kan givetvis även göra nestade for-loopar, dvs flor-loopar i for-loopar

In [ ]:
# Btw, ibland vill man bara print en tom rad och då kan vi skriva print() - kan vara nice ibland

print('Viking')
print()
print('Line')

In [ ]:
for i in range(0, 3):

    print(f'i: {i}')

    for j in range(4, 7):

        print(f'j: {j}')
    
    print()

In [ ]:
for i in range(0, 3):

    for j in range(4, 7):

        print(f'ij: {i}{j}')

    print()