**List**

En lista är bara en container (dvs en behållare) av andra objekt. Det skulle kunna vara namn, tal eller kombinationer av dessa. Listor kan även innehålla andra listor, eller vad som helst egentligen.

In [ ]:
studenter = ['Lisa', 'Kalle', 'Johan', 'Emma']

print(studenter)
print(type(studenter))

Vi har tidigare sett att vi kan indexera listor, precis som strängar, och komma åt de olika elementen i listan.

In [ ]:
print(studenter[0])
print(studenter[1])
print(studenter[2] + studenter[3])

In [6]:
for student in studenter:

    print(student, end=' ')

Lisa Kalle Johan Emma

In [7]:
print(student)

Emma

In [ ]:
for letter in studenter[0]:

    if letter =='L':

        pass                    # viktig funktionalitet, används för att göra ingenting

    elif letter == 'a':

        print(f'Ha! {letter} är den bästa bokstaven :)')

    else:

        print(letter)

i
s
Ha! a är den bästa bokstaven :)

**Enumerate()**

In [20]:
for i, student in enumerate(studenter):  # med enumerate får du också indexet (platsen) vilket respektive
                                         # värde i listan studenter har

    print(f'student {i}: {student}')

student 0: Lisa
student 1: Kalle
student 2: Johan
student 3: Emma

**Ändra värden i listor**

In [21]:
print(studenter)

['Lisa', 'Kalle', 'Johan', 'Emma']

In [23]:
studenter[3] = 'Viktoria'

print(studenter)

['Lisa', 'Kalle', 'Johan', 'Viktoria']

**append()**

Används för att lägga till objekt till listor

In [24]:
print(studenter)

['Lisa', 'Kalle', 'Johan', 'Viktoria']

In [25]:
studenter.append('Sara')

print(studenter)

['Lisa', 'Kalle', 'Johan', 'Viktoria', 'Sara']

In [27]:
studenter.append(input('Vad heter du?'))

print(studenter)

['Lisa', 'Kalle', 'Johan', 'Viktoria', 'Sara', 'Bamse', 'Vargen']

In [33]:
studenter = []
klass_deltagare = 10

for i in range(klass_deltagare):

    studenter.append(input('Vad heter du, käre student?'))

print(studenter)

['Ali', 'Bertil', 'Cecilia', 'David', 'Eva', 'Fredrik', 'Gustav', 'Hampus', 'Ivar', 'Jose']

**Slicing**

Används när man vill se delar av en lista, snarare än hela.

In [34]:
print(studenter)           # såhär ser vi hela listan
print(studenter[3])        # såhär extraherar vi ett enstaka element ur listan

['Ali', 'Bertil', 'Cecilia', 'David', 'Eva', 'Fredrik', 'Gustav', 'Hampus', 'Ivar', 'Jose']
David

In [38]:
print(studenter[0:3])      # visar upp alla elementen med index 0 till 3 (obs 3 ej inklusive)
print(studenter[2:6])      # visar upp alla elementen med index 2 till 6 (obs 6 ej inklusive)

['Ali', 'Bertil', 'Cecilia']
['Cecilia', 'David', 'Eva', 'Fredrik']

**Sortera en lista**

In [40]:
greek_letters = ['beta', 'alpha', 'gamma', 'epsilon', 'delta']

print(greek_letters)

['beta', 'alpha', 'gamma', 'epsilon', 'delta']

In [42]:
print(sorted(greek_letters))
print(greek_letters)

['alpha', 'beta', 'delta', 'epsilon', 'gamma']
['beta', 'alpha', 'gamma', 'epsilon', 'delta']

In [43]:
sorted_greek_letters = sorted(greek_letters)

print(sorted_greek_letters)

['alpha', 'beta', 'delta', 'epsilon', 'gamma']

In [45]:
my_randomly_arranged_numbers = [1, 5, 3, 2, 4, 6, 8, 7, 10, 9]

print(my_randomly_arranged_numbers)

my_sorted_numbers = sorted(my_randomly_arranged_numbers)

print(my_sorted_numbers)

[1, 5, 3, 2, 4, 6, 8, 7, 10, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
blandad_lista = ['Mt Rinjani', 34, 'Ali']

print(blandad_lista)

print(sorted(blandad_lista))     # går ej att sortera blandade listor, vi får error

['Mt Rinjani', 34, 'Ali']

TypeError: '<' not supported between instances of 'int' and 'str'

In [48]:
annan_blandad_ish_lista = ['Bali', '32', '25', '103', 'Ali']

print(sorted(annan_blandad_ish_lista))

['103', '25', '32', 'Ali', 'Bali']

**List comprehensions**

In [55]:
inneffektiv_kvadrat_list = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
print(inneffektiv_kvadrat_list)

effektiv_kvadrat_lista = [x**2 for x in range(0, 11)]
print(effektiv_kvadrat_lista)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [56]:
kvadrater = [x**2 for x in range(0,20)]
cubes = [x**3 for x in range(0,20)]

print(kvadrater)
print(cubes)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859]

$ y = 5x + 2 $

anta att vi vill beräkna alla y-värden för x mellan 0 och 30

In [57]:
y_values = [5*x+2 for x in range(0, 31)]
print(y_values)

[2, 7, 12, 17, 22, 27, 32, 37, 42, 47, 52, 57, 62, 67, 72, 77, 82, 87, 92, 97, 102, 107, 112, 117, 122, 127, 132, 137, 142, 147, 152]