<a href="https://colab.research.google.com/github/aleylani/Python-AI24/blob/main/exercises/solutions/06_functions_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# functions exercises

---
These are introductory exercises in Python with focus in **functions**.

<p class = "alert alert-info" role="alert"><b>Remember</b> to use <b>descriptive variable and function names</b> in order to get readable code </p>

<p class = "alert alert-info" role="alert"><b>Remember</b> to format your answers in a neat way using <b>f-strings</b>

<p class = "alert alert-info" role="alert"><b>Remember</b> to format your input questions in a pedagogical way to guide the user

The number of stars (\*), (\*\*), (\*\*\*) denotes the difficulty level of the task

---

## 1. Area (*)

Create a function that takes the base and height of a triangle as input parameters and returns the area of the triangle.

In [ ]:
def calculate_area(base, height):

    area = base*height/2

    print(f'Your area is {area}')

In [ ]:
base = float(input('Ge oss basen av triangeln: '))
height = float(input('Ge oss höjden av triangeln: '))

print(base)
print(height)

calculate_area(base, height)

---

## 2. Euclidean distance (*)

The formula for Euclidean distance in 2D between $P: (p_1, p_2)$ and $Q: (q_1, q_2)$  is:

$d(P,Q) = \sqrt{(p_1-q_1)^2 + (p_2-q_2)^2}$

&nbsp; a) &nbsp; Create a function that takes two points as input parameters and return the Euclidean between them. (*)

&nbsp; b) &nbsp; Let the user input two points. Call the function using the users input points. (*)

&nbsp; c) &nbsp; Use your function to calculate distances between the origin (0, 0) and each of these points: (10, 3), (-1, -9), (10, -10), (4, -2), (9, -10). (*)

<details>

<summary>Hint</summary>

Use a **for** statement

</details>
<br>
<details>

<summary>Answer</summary>

c)

```
[10.4, 9.1, 14.1, 4.5, 13.5]
```

</details>

**a)**

In [ ]:
import math

def euclidian(p1, q1, p2, q2):

    distance = math.sqrt( (p1-q1)**2 + (p2-q2)**2)
    print(distance)

**b)**

In [ ]:
p1 = float(input('ange p1: '))
q1 = float(input('ange q1: '))
p2 = float(input('ange p2: '))
q2 = float(input('ange q2: '))

euclidian(p1, q1, p2, q2)

**c)**

(10, 3), (-1, -9), (10, -10), (4, -2), (9, -10)

In [ ]:
p1 = 0
p2 = 0

for point in [ [10, 3], [-1, -9], [10, -10], [4, -2], [9, -10 ] ]:

    print(point) 
    q1 = point[0]              
    q2 = point[1]

    print(q1, q2)
    euclidian(p1, q1, p2, q2)
    print()

---
## 3. Mathematical functions (*)

Make the following functions with **def** and plot their graphs in the same figure window, with $x\in [-10,10]$ :

&nbsp; a) &nbsp;  $f(x) = x^2 -3$ (*)

&nbsp; b) &nbsp; $g(x) = 4x-7$ (*)

Do the graphs cross each other at some point?

In [ ]:
def f(x):

    value = x**2 - 3

    return value

def g(x):

    value = 4*x - 7

    return value

In [ ]:
f_values = []
g_values = []
x_values = []

for x in range(-10, 11):

    x_values.append(x)

    f_answer = f(x)
    g_answer = g(x)

    f_values.append(f_answer)
    g_values.append(g_answer)

In [ ]:
import matplotlib.pyplot as plt

plt.plot(x_values, f_values)
plt.plot(x_values, g_values)
plt.title('Mina Grafer')

Alternativt kan vi skapa ovan listor med **list comprehensions** istället

In [ ]:
f_values = [f(x) for x in range(-10, 11)]
g_values = [g(x) for x in range(-10, 11)]
x_values = [x for x in range(-10, 11)]


print(x_values)
print(f_values)
print(g_values)

---
## 4. Name cleaner (*)

Create a function that takes a name as an input and:

- removes all leading and trailing blank spaces
- make capitalize the first character of each name, and make the rest lowercase

Use your function on this list of strings:

```
["  MaRcUs ", " iDA aNderSon", "OLOF Olofsson            "  ]
```


<details>

<summary>Hint</summary>
Use

- [title() method][str_title]
- [strip() method][str_strip]
- [join() method][str_join]
- [split() method][str_split]

[str_title]: https://www.w3schools.com/python/ref_string_title.asp
[str_strip]: https://www.w3schools.com/python/ref_string_strip.asp
[str_join]: https://www.w3schools.com/python/ref_string_join.asp
[str_split]: https://www.w3schools.com/python/ref_string_split.asp

</details>
<br>
<details>

<summary>Answer</summary>

```
Marcus
Ida Anderson
Olof Olofsson
```

</details>

**Lösning 1**

In [ ]:
def name_cleaner(name):

    name_without_blank_spaces = name.strip()
    name_titled = name_without_blank_spaces.title()

    print(name_titled)

namelist = ["  MaRcUs ", " iDA aNderSon", "             OLOF   Olofsson            "  ]

for name in namelist:

    name_cleaner(name)

**Lösning 2, med chaining**

In [ ]:
def name_cleaner(name):

    cleaned_name = name.strip().title()

    print(cleaned_name)

namelist = ["  MaRcUs ", " iDA aNderSon", "             OLOF Olofsson            "  ]

for name in namelist:

    name_cleaner(name)

---
## 5. Change (**)

Create a function that takes a value as input parameter and print out the banknotes and coins in Swedish currency representing this value. For example 5289 would give the following printout:

- 5st 1000-lapp
- 1st 200-lapp
- 1st 50-lapp
- 1st 20-lapp
- 1st 10-krona
- 1st 5-krona
- 2st 2-krona

Now let the user input a value, and use the function to calculate the change.

In [ ]:
def currency_divider(value, notes):

    number_of_each_note = []                                   # vi skapar här en lista där vi ska spara antalet av varje valör

    for note in notes:                              

        remainder = value % note
        divisible_by_note = value - remainder                  # detta är nu ett tal som är delbart med det aktuella värdet av note
        multiplies_of_note = divisible_by_note/note            # räkna ut hur många hela sedlar av nuvarande värdet av note, som får plats i värdet av value
        number_of_each_note.append(multiplies_of_note)         # lägg till antalet hela sedlar i listan number_of_each_note

        value = remainder                                      # skriv nu över värdet value till remainder, vilket är det återstående som vi vill fortsätta
                                                               # göra beräkningar för

    return number_of_each_note



# TESTA FUNKTIONEN

value = 1225                                                      # värdet vi vill dela upp i mindre valörer
notes = [1000, 200, 50, 20, 10, 5, 2]                             # valörer som vi vill använda

number_of_each_note = currency_divider(1225, notes)

for i, j in zip(notes, number_of_each_note):

    print(f'{j} st av valören {i}')

Som ni ser ovan så ges antalet av float-nummer, när kanske integers är mer lämpligt. Om man vill kan man gå tillbaks in i koden och åtgära det.